<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% @user.books.preload(:variations).each do |book| %>
  <% book.variations.each do |variation| %>
    <p><%= variation.kind %></p>
  <% end %>
<% end %>


<%# 起きないケース %>
<%# @user.books.each do |book| %>
<%#  <p><%#= book.title ％></p> %>
<%# end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
